<div>
    <article>
        <div>
            <h4 style="color: white"><%= comment.userName %></h4>
            <h6 style="color: white"><%= comment.creationTime %></h6>
            
            <div>
                <% if (comment.edit) { %>
                    <form action="/edit-comment" method="POST">
                        <textarea name="newText"><%= comment.text %> </textarea>
                        <input type="hidden" name="commentId" value="<%= comment.id %>">
                        <input type="hidden" name="postId" value="<%= comment.postId %>">
                        <button type="submit">Submit</button>
                    </form>
                    <a href="/post/<%= comment.postId %>">Cancel</a>
                <% } else { %>
                    <p style="color: white"><%= comment.text %></p>
                <% } %>
                
            </div>
        </div>

        <div>
            <% if (comment.isUser && !comment.edit) { %>

                <a href="/edit-comment?commentId=<%= comment.id %>&postId=<%= comment.postId %>">edit</a>
                <button>Delete</button>

            <% } %>

            <button>Like (<%= comment.reacts %> ) </button>

            <% if (!comment.isUser) { %> 
                <button>Report</button>
            <% } %> 

            
        </div>
    </article>
</div>
