<div class="backdrop"></div>
<header class="main-header">
    
    <div class = "container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample09">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="<%= path === '/home' ? 'active' : '' %> nav-link active" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a
                                class="<%= path === '/my-posts' ? 'active' : '' %> nav-link"
                                href="/my-posts"
                                >My Posts</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="<%= path === '/my-profile' ? 'active' : '' %> nav-link" href="/my-profile"
                                >Profile</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="<%= path === '/search' ? 'active' : '' %> nav-link"
                                href="/search"
                                >Search</a
                            >
                        <li class="nav-item">
                            <a
                                class="<%= path === '/make-post' ? 'active' : '' %> nav-link"
                                href="/make-post"
                            > Make Post
                            </a>
                        </li>
                        <li class="nav-item">
                            <form action="/logout" method="POST">
                                <button type="submit" class="btn">Logout</button>
                            </form>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

