<div class="profile-container">
    <div class = "frame">
        <img src="<%= user.displayPicture ? user.displayPicture : '/assets/logo10.svg'%> " 
            alt="PP">
    </div>

    <% if (!isCurrentUser) { %> 
        <div>
            <form action="/follow" action="POST">
                <input type="hidden" name="followname" value="<% user.userName %> ">
                <button type="submit">Follow</button>                                
            </form>
        </div>
    <% } %> 
    <div>
        <h3> <%= user.userName %></h3>
    </div>

    <div class = "small-container">
        <h2>Email </h2>
        <h3> <%= user.email %></h3>
    </div>

    <div class = "small-container">
        <h2>Birthday </h2>
        <h3> <%= user.dateOfBirth %></h3>
    </div>

    <div>
        <h2>Bio: </h2>
        <div class="bio-container">
            <p> <%= user.bio %></p>
        </div>
    </div>

    <% if (isCurrentUser) { %> 
    <div class = "edit-profile"> <a href="/edit-profile">Edit Profile</a> </div>
    <% } %> 
</div>