<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/general.css"> 
    <link rel="stylesheet" href="/css/edit-profile.css"> 

</head>
<body>
    <%- include("../includes/navigation.ejs") %>
    
    <main>
        <div class="cont">
            <div class="left-div">
                <div>
                    <h1 class="heading">Edit Profile</h1>
                </div>
                <div class="logo">
                    <img src="/assets/logo3.svg" alt="logo" />
                </div>
            </div>
            <div class="right-div">
                <div class="form-options">
                    <form action="/edit-profile" method="POST" enctype="multipart/form-data">
                        <div class="form-control login-control">
                            <label for="postbody"> Bio</label>
                            <input
                                type="text"
                                name="bio"
                                value = '<%= userData.bio %>'
                            />
                        </div>
                        <div class="form-control login-control">
                            <label for="tags"> Password</label>
                            <input
                                type="password"
                                name="password"
                            />
                        </div>
                        <div class="form-control login-control">
                            <label for="tags"> Confirm Password</label>
                            <input
                                type="password"
                                name="confirm_password"
                            />
                        </div>
                        <% if (errorMessage) { %>
                            <div class = "error-message" style = "color: white"><%= errorMessage %></div>
                        <% } %>
                        <div class="form-control login-control" style = "color: white">
                            <label for="image">Profile Picture</label>
                            <input type="file"
                                name="image"
                            />
                            <input type="hidden" name="oldImage" value="<%= userData.displayPicture %>">
                        </div>
                        <div>
                            <button type="submit" class="std-button">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <%- include("../includes/end.ejs") %>
</body>