<%- include("../includes/head.ejs") %> 
    <!-- <link rel="stylesheet" href="/css/post.css"> -->
    </head>

    <body>
        <%- include("../includes/navigation.ejs") %>

        <main>

            <% if (posts.length > 0) { %>    
                <div class="grid">
                    <% for (let post of posts) { %> 
                        <article class="card">
                            <header class="card__header">
                                <h1> <%= post.title %>  </h1>
                            </header>
                            
                            <% if (post.image) { %> 
                                <div class="card__image"><img src="<% post.image %> " alt=""></div>
                            <% } %> 

                            <div class="card__content">
                                <h4><%= post.userName %> </h4>
                                <h6><%= post.creationTime %> </h6> 
                            </div>

                            <div class="card__content">
                                <p><%= post.text %> </p>
                            </div>

                            <div class="card__actions">
                                <button class="btn">Like</button>
                                <button class="btn">Comment</button>
                                <button class="btn">Report</button>
                            </div>
                    <% } %> 
                    </article>
                </div>
            <% } else { %> 
                <h1>No Posts Found</h1>
            <% } %> 
        </main>


        <%- include("../includes/end.ejs") %>
