<%- include("../includes/head.ejs") %> 

    </head>

    <h1>My Profile</h1>

    <body>
        <main>
            <div>
                <h2>Username:</h2>
                <h3> <%= user.userName %></h3>
            </div>

            <div>
                <h2>Bio: </h2>
                <h3> <%= user.bio %></h3>
            </div>

            <div>
                <h2>Email: </h2>
                <h3> <%= user.email %></h3>
            </div>

            <div>
                <h2>DOB: </h2>
                <h3> <%= user.dateOfBirth %></h3>
            </div>
        </main>

        <%- include("../includes/end.ejs") %>
    </body>