<%- include("../includes/head.ejs") %>
</head> 

<body>
    <%- include("../includes/navigation.ejs") %> 

    <main>  
        <div class="grid">
            <%- include("../includes/post-template.ejs") %> 
        </div>

        <% if (comments) { %> 
            
            <% for (let comment of comments) { %> 
                <%- include("../includes/comment-template.ejs", {comment, comment}) %> 
            <% } %> 
        <% } %> 
    </main>

<%- include("../includes/end.ejs") %> 