<%- include("../includes/head.ejs") %>
</head>

<body>
    <%- include("../includes/navigation.ejs") %> 
    <main>
        <div>
            <form action="/search" method="POST"> 
                <label for="type">
                    <input type="radio" name="type" value="user" required> User
                </label>

                <label for="type">
                    <input type="radio" name="type" value="post" required> Post
                </label>

                <input type="text" name="search" required>

                <button type="submit">Search</button>
            </form>
        </div>

        <% if (errorMessage) { %> 
            <div><p> <%= errorMessage %> </p></div>
        <% } else if (matchType === "user") { %> 
            <div>
                <% for (let user of matches) { %>
                    <a href="profile/<%= user.userName %> ">
                        <div>
                            <img src="<% user.displayPicture ? user.displayPicture :  %> " alt="pp">
                            <p><%= user.userName %> </p>
                            <form action="/follow" action="POST">
                                <input type="hidden" name="followname" value="<% user.userName %> ">
                                <button type="submit">Follow</button>                                
                            </form>
                        </div>
                    </a>
                <% } %> 
            </div>
        <% } else if (matchType === "post") { %>
            <div>
                <% for (let post of matches) { %>
                    <%- include("../includes/post-template.ejs", {post: post}) %> 
                <% } %> 
            </div>
        <% } %> 

    </main>

<%- include("../includes/end.ejs") %> 